
<div class="" align="right">
	<%= link_to t('back_prod'), products_path, class: "btn btn-default"%>
	<h3> Pedido Confirmados </h3>
</div>
<div class="shopping-checkout">
  <%= render "shopping_checkout" %>
</div>
